<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">
            <h1>
            <a href="/"> Rasevic Restaurants</a>
          </h1>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><%= link_to 'manage restaurants', '/admin' %></li>
        </ul>
      </div>
    </div>
    <!-- End Top Bar -->
    <div clas="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
